body{
    font-family: Arial, Helvetica, sans-serif;
  }
h1{
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 30%;
    
}
input{
    padding: 10px;
    margin-top: 3px;
    background-color: aliceblue;
}